
.pop-up {
    padding: 137px 419px 190px;
    text-align: center;
}

.pop-up__title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 38px;
}

.pop-up__subtitle {
    margin-bottom: 67px;
    margin-left: -10px;
    color: #5D7085;
    font-weight: 400;
    font-size: 22px;
}

            /* product-list */
.product-list {
    display: flex;
    gap: 6px;
    list-style-type: none;
}

            /* li */
.product-list__item {
    width: 266px;
    min-height: 601px;
}

.background-style-1 {
    color:  #E6C434;
    background: linear-gradient(#FDC624, #E6C434 );
}

.background-style-2 {
    color: #3DCAD4;
    background: linear-gradient(#55DCE7, #3DCAD4);
}

.background-style-3 {
    color: #3DACFC;
    background: linear-gradient(#6BDFFF, #3DACFC);
}

.background-style-4 {
    color: #939FB3;
    background: linear-gradient(#BFCEDC, #939FB3);
}

            /* card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 36px 35px;
}

.card__header {
    color: white;
}

            /* card-image */
.card__image-wrapper {
    width: 196px;
    height: 150px;
    object-fit: fill;
    background-repeat: no-repeat;
    background-position: bottom;
}

.card__image-1 {
    background-image: url(../images/card1.png);
}

.card__image-2 {
    background-image: url(../images/card2.png);
}

.card__image-3 {
    background-image: url(../images/card3.png);
}

.card__image-4 {
    background-image: url(../images/card4.png);
}

.card__title {
    margin-top: 15px;
    font-weight: 500;
    font-size: 21px;
    text-align: start;
    text-transform: capitalize;
}

.card__subtitle {
    font-size: 12px;
    text-align: start;
}

            /* content */
.card__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 30px;
    color: white;
}

.card__price {
    display: flex;
    font-weight: 700;
    font-size: 67px;
    letter-spacing: -0.1px;
    text-align: start;
}

.card__price-currency {
    font-weight: 500;
    font-size: 0.3em;
}

            /* card-list */
.card__list {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    margin-top: 10px;
    padding-left: 18px;
    text-align: start;
    list-style-image: url(../images/list__check.svg);
    list-style-position: outside;
}

.card__list-item {
    padding-left: 2px;
    font-weight: 500;
}

            /* button */
/* нужно переделать кнопку - сделать её ссылкой */
.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 2px solid;
    border-radius: 3px;
    padding: 13px;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}

.card__button:hover {
    border-radius: 5px;
    color: currentColor;
    background-color: #fff;
}

            /* tag */
.tag {
    position: absolute;
    top: 0;
    left: 0;
    display: flex; 
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 9px 0 6px;
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.05);
}

.tag__icon {
    width: 12px;
    height: 12px;
}

.tag__text {
    color: white;
    font-weight: 500;
    font-size: 14px;
}